.calculator-container {
    width: 230px;
    border: 1px solid black;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: black;
    border-radius: 25px;
    font-family: sans-serif;
}

.viewer {
    color: white;
    height: 80px;
    grid-column-start: 1;
    grid-column-end: span 2;
    margin-bottom: 20px;
    font-size: 30px;
}

.numbers-container {
    display: grid;
    grid-template-columns: 60px 60px 60px;
}

.numbers-container div {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.top-button {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.top-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.number-button {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.number-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#button-number-0 {
    grid-column-start: 1;
    grid-column-end: span 2;
    width: 110px;
}

#button-point {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

#button-point:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.operators-container div {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.operator-button {
    background-color: rgb(249, 153, 0);
    color: white;
    font-weight: 900;
    cursor: pointer;
    font-size: 20px
}

.operator-button:hover {
    background-color: rgb(255, 183, 67);
}

#button-equal {
    background-color: rgb(249, 153, 0);
    color: white;
    cursor: pointer;
}

#button-equal:hover {
    background-color: rgb(255, 183, 67);
}